<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - XYZ Bank</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <section class="auth-page">

        <div class="auth-card">

            <div class="auth-logo">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="XYZ Bank">
</div>

            <h2>Welcome Back</h2>
            <p>Login securely to access your XYZ Bank account.</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}-box">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

            <form method="POST" action="/login">

                <div class="input-group">
                    <label>Email Address</label>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>

                <button class="auth-btn" type="submit">Login</button>

            </form>

            <p class="auth-footer">
                New user? <a href="/register">Create an account</a>
            </p>

            <a class="back-link" href="/">← Back to Home</a>

        </div>

    </section>

</body>
</html>